<h3>Login Via LDAP Credentials!</h3>

<p>
  Currently stored in ldap is username: nshah & password: nisarg
</p>
<p>
  Test LDAP server at: <a href='http://104.131.95.219/phpldapadmin'>http://104.131.95.219/phpldapadmin</a> (password = admin)
</p>

<form method='get' action='/secret'>
  <div>
    <label>Username:</label>
    <input type='text' name='username' />
  </div>
  <div>
    <label>Password:</label>
    <input type='password' name='password' />
  </div>
  <div>
    <input type='submit' value='Login' />
  </div>
</form>